interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Dev&api-version=2024-10-01
  response:
    body:
      string: '{"ErrorCode":4003,"ErrorMessage":"Agent ''00000000-0000-0000-0000-000000001111''
        is not opted into ALM. Opt the agent in first.","ErrorInfo":null,"Error":{"RetryIn":null,"InnerErrors":[],"Code":"BadRequest","Message":"Agent
        ''00000000-0000-0000-0000-000000001111'' is not opted into ALM. Opt the agent
        in first.","Properties":{},"Diagnostics":"<internal-diagnostics-redacted>"}}'
    headers:
      Content-Type:
      - application/json
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.11
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - 894f1b98-6a23-47f2-9ef7-4d98218eb00720260909223908_tstil002wusgb0_0
      x-ms-islandgateway:
      - _tstil002wusgb0_0
      x-ms-ppapigateway:
      - _tstil002wusgb0_2
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Test&api-version=2024-10-01
  response:
    body:
      string: '{"ErrorCode":4003,"ErrorMessage":"Agent ''00000000-0000-0000-0000-000000001111''
        is not opted into ALM. Opt the agent in first.","ErrorInfo":null,"Error":{"RetryIn":null,"InnerErrors":[],"Code":"BadRequest","Message":"Agent
        ''00000000-0000-0000-0000-000000001111'' is not opted into ALM. Opt the agent
        in first.","Properties":{},"Diagnostics":"<internal-diagnostics-redacted>"}}'
    headers:
      Content-Type:
      - application/json
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.11
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - 95029245-ef7e-4276-b88d-c9e15fbaba5a20260909223909_tstil002wusgb0_2
      x-ms-islandgateway:
      - _tstil002wusgb0_2
      x-ms-ppapigateway:
      - _tstil002wusgb0_2
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Prod&api-version=2024-10-01
  response:
    body:
      string: '{"ErrorCode":4003,"ErrorMessage":"Agent ''00000000-0000-0000-0000-000000001111''
        is not opted into ALM. Opt the agent in first.","ErrorInfo":null,"Error":{"RetryIn":null,"InnerErrors":[],"Code":"BadRequest","Message":"Agent
        ''00000000-0000-0000-0000-000000001111'' is not opted into ALM. Opt the agent
        in first.","Properties":{},"Diagnostics":"<internal-diagnostics-redacted>"}}'
    headers:
      Content-Type:
      - application/json
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.11
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - 42011cad-1ca4-4cd7-9ce2-36a3005d7bbe20260909223909_tstil002wusgb0_0
      x-ms-islandgateway:
      - _tstil002wusgb0_0
      x-ms-ppapigateway:
      - _tstil002wusgb0_2
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Dev&api-version=2024-10-01
  response:
    body:
      string: '{"realm":"Dev","cdsBotId":"00000000-0000-0000-0000-000000001111","schemaName":"gptagent_esshr_cosmosda_v2","grsRepositoryId":"00000000-0000-0000-0000-000000001111","commitSha":"0000000000000000000000000000000000000000","values":{"botName":"ESS
        HR - Cosmos DA (ServiceNow, flowless)","gptDisplayName":"ESS HR - Cosmos DA
        (ServiceNow, flowless)"},"flows":{},"connections":{"gptagent_esshr_cosmosda_v2.shared_service-now.servicenow":{"connectorId":"/providers/Microsoft.PowerApps/apis/shared_service-now","connectionId":"00000000000000000000000000000000"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.11
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - 5cea7d66-fbc0-48cc-aece-cbec72de855620260909223910_tstil002wusgb0_3
      x-ms-islandgateway:
      - _tstil002wusgb0_3
      x-ms-ppapigateway:
      - _tstil002wusgb0_0
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Prod&api-version=2024-10-01
  response:
    body:
      string: '{"realm":"Prod","cdsBotId":"00000000-0000-0000-0000-000000001111","schemaName":"gptagent_esshr_cosmosda_v2_prod","grsRepositoryId":"00000000-0000-0000-0000-000000001111","commitSha":"0000000000000000000000000000000000000000","values":{},"flows":{},"connections":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.11
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - ede95f91-374f-4e87-ad28-37a105c8a9bd20260909223917_tstil002wusgb0_3
      x-ms-islandgateway:
      - _tstil002wusgb0_3
      x-ms-ppapigateway:
      - _tstil002wusgb0_3
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 200
      message: OK
version: 1
