interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Dev&api-version=2024-10-01
  response:
    body:
      string: '{"ErrorCode":4003,"ErrorMessage":"Agent ''00000000-0000-0000-0000-000000001111''
        is not opted into ALM. Opt the agent in first.","ErrorInfo":null,"Error":{"RetryIn":null,"InnerErrors":[],"Code":"BadRequest","Message":"Agent
        ''00000000-0000-0000-0000-000000001111'' is not opted into ALM. Opt the agent
        in first.","Properties":{},"Diagnostics":"<internal-diagnostics-redacted>"}}'
    headers:
      Content-Type:
      - application/json
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.10
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - c0610a7e-dbed-4200-b842-d5cebc90a54120260909212412_tstil002wusgb0_4
      x-ms-islandgateway:
      - _tstil002wusgb0_4
      x-ms-ppapigateway:
      - _tstil002wusgb0_0
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Test&api-version=2024-10-01
  response:
    body:
      string: '{"ErrorCode":4003,"ErrorMessage":"Agent ''00000000-0000-0000-0000-000000001111''
        is not opted into ALM. Opt the agent in first.","ErrorInfo":null,"Error":{"RetryIn":null,"InnerErrors":[],"Code":"BadRequest","Message":"Agent
        ''00000000-0000-0000-0000-000000001111'' is not opted into ALM. Opt the agent
        in first.","Properties":{},"Diagnostics":"<internal-diagnostics-redacted>"}}'
    headers:
      Content-Type:
      - application/json
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.10
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - fa39a052-999e-4f4c-b7d9-c636a8dde2c820260909212413_tstil002wusgb0_2
      x-ms-islandgateway:
      - _tstil002wusgb0_2
      x-ms-ppapigateway:
      - _tstil002wusgb0_2
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Prod&api-version=2024-10-01
  response:
    body:
      string: '{"ErrorCode":4003,"ErrorMessage":"Agent ''00000000-0000-0000-0000-000000001111''
        is not opted into ALM. Opt the agent in first.","ErrorInfo":null,"Error":{"RetryIn":null,"InnerErrors":[],"Code":"BadRequest","Message":"Agent
        ''00000000-0000-0000-0000-000000001111'' is not opted into ALM. Opt the agent
        in first.","Properties":{},"Diagnostics":"<internal-diagnostics-redacted>"}}'
    headers:
      Content-Type:
      - application/json
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.10
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - 15f2a381-5fe6-4130-b61c-e24a03bcb2a220260909212414_tstil002wusgb0_3
      x-ms-islandgateway:
      - _tstil002wusgb0_3
      x-ms-ppapigateway:
      - _tstil002wusgb0_4
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Dev&api-version=2024-10-01
  response:
    body:
      string: '{"realm":"Dev","cdsBotId":"00000000-0000-0000-0000-000000001111","schemaName":"gptagent_esshr_cosmosda_v2","grsRepositoryId":"00000000-0000-0000-0000-000000001111","commitSha":"0b3007b07220fbbea5a7cf7c5a0c4681a247018a","values":{"botName":"ESS
        HR - Cosmos DA (ServiceNow, flowless)","gptDisplayName":"ESS HR - Cosmos DA
        (ServiceNow, flowless)"},"flows":{},"connections":{"gptagent_esshr_cosmosda_v2.shared_service-now.servicenow":{"connectorId":"/providers/Microsoft.PowerApps/apis/shared_service-now","connectionId":"00000000000000000000000000000000"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.10
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - b8a5cb3d-dd87-49f0-83d0-d8a2decacfbf20260909212415_tstil002wusgb0_1
      x-ms-islandgateway:
      - _tstil002wusgb0_1
      x-ms-ppapigateway:
      - _tstil002wusgb0_2
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: GET
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?realm=Prod&api-version=2024-10-01
  response:
    body:
      string: '{"realm":"Prod","cdsBotId":"00000000-0000-0000-0000-000000001111","schemaName":"gptagent_esshr_cosmosda_v2_prod","grsRepositoryId":"00000000-0000-0000-0000-000000001111","commitSha":"0b3007b07220fbbea5a7cf7c5a0c4681a247018a","values":{},"flows":{},"connections":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-cci-botdesignerserver-buildid:
      - 1.2026.909.10
      x-ms-activity-vector:
      - 00.00.00
      x-ms-gateway-clusters:
      - tstil002wus
      x-ms-igw-tracking-id:
      - 7388e95e-9de0-4464-ba0e-177153f7981d20260909212421_tstil002wusgb0_0
      x-ms-islandgateway:
      - _tstil002wusgb0_0
      x-ms-ppapigateway:
      - _tstil002wusgb0_1
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 200
      message: OK
version: 1
