interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
      x-ms-last-retry:
      - 'false'
      x-ms-retry-count:
      - '0'
    method: POST
    uri: https://mockenv.00.environment.api.test.powerplatform.com/copilotstudio/minimalBots/api/00000000-0000-0000-0000-000000001111/components?api-version=2024-10-01
  response:
    body:
      string: '{"botComponentChanges":[{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":2,"managedProperties":{"$kind":"ManagedProperties","isCustomizable":true},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2026-08-25T17:18:45.3913428Z","modifiedTimeUtc":"2026-08-25T17:30:22.9922109Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","schemaName":"gptagent_esshr_cosmosda_dual2.topic.ServiceNowHRSDSystemGetCasesList","dialog":{"$kind":"AdaptiveDialog","inputs":[{"$kind":"ManualTaskInput","propertyName":"IsActive","value":{"$kind":"ValueExpression","expressionText":"true"}},{"$kind":"ManualTaskInput","propertyName":"InputParameters","value":{"$kind":"ValueExpression","expressionText":"\"[]\""}},{"$kind":"ManualTaskInput","propertyName":"UserIdentifier","value":{"$kind":"ValueExpression","expressionText":"\"\""}}],"modelDisplayName":"ServiceNow
        HRSD System Get Cases List","beginDialog":{"$kind":"OnRedirect","actions":[{"$kind":"BeginDialog","id":"qbJk9Q","input":{"$kind":"ActionInputBinding","binding":{"InputParameters":{"$kind":"ValueExpression","variableReference":"Topic.InputParameters"},"OperationType":{"$kind":"ValueExpression","expressionText":"\"READ\""},"ScenarioName":{"$kind":"ValueExpression","expressionText":"\"msdyn_ServiceNowHRSDGetUserCases\""},"SysId":{"$kind":"ValueExpression","expressionText":"\"\""},"UserIdentifier":{"$kind":"ValueExpression","variableReference":"Topic.UserIdentifier"}}},"dialog":{"$kind":"DialogExpression","literalValue":"gptagent_esshr_cosmosda_dual2.topic.ServiceNowHRSDSystemCommonExecution"},"output":{"$kind":"ActionOutputBinding","binding":{"ServiceNowData":"Topic.ServiceNowData"}}},{"$kind":"ConditionGroup","id":"conditionGroup_nB7wCn","conditions":[{"$kind":"ConditionItem","id":"conditionItem_1bp4PS","condition":{"$kind":"BoolExpression","expressionText":"!IsBlank(Topic.ServiceNowData)
        && Topic.IsActive = true","structuredCondition":{"$kind":"AndConditionGroup","conditions":[{"$kind":"BooleanCondition","variable":"Topic.ServiceNowData","operator":"IsNotBlank"},{"$kind":"BooleanCondition","variable":"Topic.IsActive","operator":"Equal","value":{"$kind":"ValueExpression","literalValue":true}}]}},"actions":[{"$kind":"SetVariable","id":"setVariable_jgGjRK","variable":"Global.ESS_ServiceNow_HRSD_ActiveCases","value":{"$kind":"ValueExpression","variableReference":"Topic.ServiceNowData"}},{"$kind":"SetVariable","id":"setVariable_sPVqeY","variable":"Global.ESS_ServiceNow_HRSD_NextActiveCasesRefresh","value":{"$kind":"ValueExpression","expressionText":"DateAdd(Now(),15,TimeUnit.Minutes)"}}]}]}],"id":"main"},"inputType":{"$kind":"Record","properties":{"InputParameters":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","type":{"$kind":"String"}},"IsActive":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","type":{"$kind":"Boolean"}},"UserIdentifier":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","type":{"$kind":"String"}}}},"outputType":{"$kind":"Record","properties":{"ServiceNowData":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","description":"List of Cases data returned from ServiceNow.","type":{"$kind":"String"}}}}}}},{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":2,"managedProperties":{"$kind":"ManagedProperties","isCustomizable":true},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2026-08-25T17:18:45.3184914Z","modifiedTimeUtc":"2026-08-25T17:30:22.9921652Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","schemaName":"gptagent_esshr_cosmosda_dual2.topic.WorkdayGetEmergencyContact","dialog":{"$kind":"AdaptiveDialog","modelDescription":"You
        will respond to requests about the emergency contact information of the user
        making the request. This data is retrieved from Workday. You will respond
        to the user based on which piece of data they are asking for. This data exclusively
        belongs to the user making the request. There is no data for anyone else.
        Do not respond to questions about other people''s data.\n\nExample invalid
        requests:\n\"What is my manager''s emergency contact information?\"\n\"What
        is my sister''s emergency contact information?\"\n\nExample valid requests:\n\"What
        is my emergency contact information?\"","beginDialog":{"$kind":"OnRecognizedIntent","actions":[{"$kind":"BeginDialog","id":"B7ae9T","displayName":"Mock
        Display Name","input":{"$kind":"ActionInputBinding","binding":{"parameters":{"$kind":"ValueExpression","expressionText":"\"{\"\"params\"\":\"
        & JSON(Table({key:\"{Employee_ID}\", value:Coalesce(Global.ESS_UserContext_Employee_Id,
        \"\")},{key:\"{As_Of_Effective_Date}\", value:Text(Today(), \"yyyy-MM-dd\")}))
        & \"}\""},"scenarioName":{"$kind":"ValueExpression","literalValue":"msdyn_HRWorkdayHCMEmployeeGetEmergencyContactInfo"}}},"dialog":{"$kind":"DialogExpression","literalValue":"gptagent_esshr_cosmosda_dual2.topic.WorkdaySystemGetCommonExecution"},"output":{"$kind":"ActionOutputBinding","binding":{"errorResponse":"Topic.errorResponse","isSuccess":"Topic.isSuccess","workdayResponse":"Topic.workdayResponse"}}},{"$kind":"ParseValue","id":"yJ0sSR","displayName":"Mock
        Display Name","variable":"Topic.parsedWorkdayResponse","valueType":{"$kind":"Record","properties":{"EmergencyContacts":{"$kind":"PropertyInfo","type":{"$kind":"Table","properties":{"Emergency_Contact":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"Emergency_Contact_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"Language_Reference":{"$kind":"PropertyInfo","type":{"$kind":"Table","properties":{"@Descriptor":{"$kind":"PropertyInfo","type":{"$kind":"String"}}}}}}}}}}},"Personal_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"Contact_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"Address_Data":{"$kind":"PropertyInfo","type":{"$kind":"Table","properties":{"@Formatted_Address":{"$kind":"PropertyInfo","type":{"$kind":"String"}}}}},"Email_Address_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"Email_Address":{"$kind":"PropertyInfo","type":{"$kind":"String"}}}}},"Phone_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"@Tenant_Formatted_Phone":{"$kind":"PropertyInfo","type":{"$kind":"String"}}}}}}}},"Name_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"Legal_Name_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"Name_Detail_Data":{"$kind":"PropertyInfo","type":{"$kind":"Record","properties":{"@Formatted_Name":{"$kind":"PropertyInfo","type":{"$kind":"String"}}}}}}}}}}}}}},"Related_Person_Relationship_Reference":{"$kind":"PropertyInfo","type":{"$kind":"Table","properties":{"@Descriptor":{"$kind":"PropertyInfo","type":{"$kind":"String"}}}}}}}}}},"value":{"$kind":"ValueExpression","variableReference":"Topic.workdayResponse"}},{"$kind":"SetVariable","id":"setVariable_nD5Gkb","displayName":"Mock
        Display Name","variable":"Topic.finalizedEmergencyContactData","value":{"$kind":"ValueExpression","expressionText":"ForAll(\n    Topic.parsedWorkdayResponse.EmergencyContacts,
        \n    With(\n        {c[...]
[...]
